div {
    .appBar {
        justify-content: center;
    }

    .menuButton {
        color: inherit;
    }

    .search {
        width: 100%;
        justify-self: center;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.15);
        position: relative;
        margin-left: 8px;
        border-radius: 4px;

        &:hover {
            background: rgba(255, 255, 255, 0.25);
        }
    }

    @media (min-width: 600px) {
        .search {
            width: 300px;
        }
    }

    .searchIcon {
        padding: 0 16px;
        margin-bottom: -4px;
        cursor: pointer;
    }

    .input {
        transition: 0.5s ease-in all;
    }

    .inputRoot {
        color: inherit;
    }

    .inputInput {
        width: 100%;
        padding: 8px 8px 8px 0;
    }
}
