div {
    .dialogTitle {
        padding: 16px 24px 0;
    }

    .dialogContent {
        padding: 8px 24px 20px;
    }

    .dialogActions {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .dialogActionsRow {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .dialogActionsRow > * {
        margin: 5px;
    }

    .dialogTitleText {
        font-weight: bold !important;
    }

    .back {
        margin-left: -16px;
        margin-right: auto;
    }

    .dialogTitleMenu {
        display: flex;
        margin-right: -16px;
    }

    .dialogTitleMenuDesktop {
        margin-top: -10px;
    }

    .hiddenMobile {
        margin-top: -12px;
        display: flex;
    }
}
