div .app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div .container {
    flex: 1;
}

.fab {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
}

@media (min-width: 768px) {
    .fab {
        bottom: 10%;
        right: 10%;
    }
}

div .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
