div .app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div .divider {
    margin: 10px 0;
}

div .container {
    flex: 1;
}

.fab {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
}

@media (min-width: 768px) {
    .fab {
        bottom: 10%;
        right: 10%;
    }
}

.drawer {
    width: 240px;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    word-break: break-word;
}

.drawerBottom {
    margin-top: auto;
}

div .drawerButton {
    width: 100%;
    margin-top: 5px;
}

div .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
