div {
    .sharingCheckedTypography {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 12px;
    }

    .box {
        justify-content: space-between;
    }
}

.links {
    padding-right: 10px;
}
