div .card {
    cursor: pointer;
    background-color: lightgray;
    height: 150px;
}

div .color {
    background-color: lightgray;
}

div .cardContent,
div .cardContent:last-child {
    padding: 8px;
}

div .dialogTitle {
    padding: 16px 24px 0;
}

div .dialogContent {
    padding: 8px 24px 20px;
}

.dialogTitleText {
    font-weight: bold !important;
}

div .back {
    margin-left: -16px;
    margin-right: auto;
}

div .dialogTitleMenu {
    display: flex;
    margin-right: -16px;
}

div .dialogTitleMenuDesktop {
    margin-top: -10px;
}

.share {
    padding-right: 10px;
}

.links {
    padding-right: 10px;
}

div .sharingCheckedTypography {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
}
