.light {
    color: black;

    &.transparent {
        background-color: white;
    }

    &.blue {
        background-color: #64c1ff;
    }

    &.green {
        background-color: #6abf69;
    }

    &.red {
        background-color: #ff5131;
    }

    &.gray {
        background-color: #a4a4a4;
    }

    &.yellow {
        background-color: #ffff72;
    }

    &.orange {
        background-color: #ffad42;
    }
}

.dark {
    color: white;

    &.transparent {
        background-color: #212121;
    }

    &.blue {
        background-color: #0064b7;
    }

    &.green {
        background-color: #00600f;
    }

    &.red {
        background-color: #9b0000;
    }

    &.gray {
        background-color: #494949;
    }

    &.yellow {
        background-color: #c79400;
    }

    &.orange {
        background-color: #bb4d00;
    }
}
