div .card {
    cursor: pointer;
    background-color: lightgray;
    max-height: 300px;
}

div .color {
    background-color: lightgray;
}

div .cardContent {
    padding: 8px;
}

div .dialogTitleText {
    font-weight: bold;
}