div .dialogTitle {
    padding: 16px 24px 0;
}

div .dialogContent {
    padding: 8px 24px 20px;
}

.dialogTitleText {
    font-weight: bold !important;
}

div .back {
    margin-left: -16px;
    margin-right: auto;
}

div .dialogTitleMenu {
    display: flex;
    margin-right: -16px;
}

div .dialogTitleMenuDesktop {
    margin-top: -10px;
}