html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
    height: 100%;
}

div .MuiGrid-spacing-xs-2 {
    margin: unset;
    width: 100%;
}

div .MuiInput-underline:before {
    content: unset !important;
}
